.notesList{
    width: 100%;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.notesList .inner{
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 10px;
    place-content: start;
    justify-content: center;
    padding: 10px;
}

.notesList .inner::-webkit-scrollbar{
    width: 0px;
}

.notesList .emptyTrashButton{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--dark-color);
    padding: 7px 15px;
    color: var(--light-color);
    border-radius: 5px;
    font-size: .9rem;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.notesList .emptyTrashButton i{
    color: inherit;
}

/* At toggleable Sidebar */
@media (max-width: 1145px) {
    .notesList{
        margin-top: 65px;
    }

    .notesList .inner{
        padding-top: 0;
    }
}

@media (max-width: 500px) {
    .notesList .inner{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}