.preloader{
    position: fixed;
    inset: 0;
    background: var(--light-color);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
}

.preloader.hidden{
    opacity: 0;
    pointer-events: none;
}

.preloader h1{
    animation: shrinkIn 2s ease forwards;
}

@keyframes shrinkIn{
    0%{
        scale: 1.5;
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    100%{
        scale: 1;
        opacity: 1;
    }
}