.notebook{
    height: 100svh;
    display: flex;
    background: var(--bg-color);
}

.notebook h1.heading{
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.notebook .newNoteButton i{
    padding: 15px;
    font-size: 1.3rem;
    background-color: var(--dark-color);
    color: var(--light-color);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 50px;
    bottom: 50px;
}

/* At toggleable Sidebar */
@media (max-width: 1145px) {
    .notebook h1.heading{
        display: block;
    }

    .notebook .newNoteButton i{
        right: 10px;
        bottom: 10px;
    }
}